body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 360px;
}

#inputF {
    width: 300px;
    height: 47px;
    border: 1px solid black;
    font-size: 25px;
    vertical-align: middle;
}

.buttonF {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.doList {
    margin-top: 25px;
    margin: 0;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}
